@import "tailwindcss";

:root {
  --background: #ededed;
  --foreground: #5e5555;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans-kr);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-sans-kr), "Noto Sans KR", sans-serif;
}